tensorflow==2.5.0
opencv-python==4.1.1.26
opencv-contrib-python==4.3.0.36
pillow==9.5.0
scikit-learn==1.0.2
flask==2.2.5
numpy==1.19.5
dlib-19.22.99-cp37-cp37m-win_amd64.whl 
markupsafe==2.0.1
werkzeug==0.16.0